body {
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
}

h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border-color: #f5f1f1;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 80%;
}

/****************** CONTAINERS ******************/
.top-container {
    background-color: #FFF3E2;
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
}

.middle-container {
    background-color: #FFE5CA;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bottom-container {
    background-color: #FA9884;
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
}

/****************** ITEMS ******************/
.phys {
    text-decoration: underline;
}

.mountain {
    width: 50%;
}

.top-cloud {
    position: absolute;
    right: 30%;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
}

.pp {
    border-radius: 10% 50% 50%;
    width: 20%;
}

/****************** EDUCATION & WORK ******************/


.education-details {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    max-width: 80%;
}
  
.education-details img {
    max-width: 120px;
    height: auto;
    align-self: center;
}

.education-details p {
    margin: 0 10px;
}

.education-details .details img {
    max-width: 100px;
    max-height: 100px;
}
  
.education-details .details {
    flex-grow: 1;
    height: 100%;
}

.education-details .reverse img{
    margin-left: 20px;
}
  
@media (max-width: 768px) {
    .education-details {
      flex-direction: column;
      
    }

    .education-details .reverse{
        flex-direction: column-reverse;
    }
   
    .education-details .details {
      margin-top: 20px;
      align-self: center;
    }
}
  



.metu-logo{
    width: 30%;
    max-width: 200px;
}

.description1{
    width: 100%;   
}

/****************** SKILLS ******************/
.skills-icon{
    width: 20%;
    max-width: 100px;
}

.skills-header {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    box-sizing: inherit;
    display: block;
}

/****************** skills large ******************/
.skills_large {
    display: flex;
    margin: 20px auto;
    max-width: 85%;
    justify-content: space-between;
}

.skills-card_large {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    flex-basis: calc(100% / 3 - 100% / 12);
    border: 3px solid #fff;
    border-radius: 8px;
    background-color: #FFF3E2; 
    gap: 0px;
    max-width: 100%;
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
}

.skills-card_large:hover {
    background-color: #ffffffb7;
}

.skills-card-img-wrapper_large {
    display: flex;
    width: 100%;
    max-width: 120px;
    margin: 15px auto;
    position: relative;
    padding: 0;
    box-sizing: inherit;
}

.skills-card-img_large {
    height: auto;
    max-width: 100%;
    width: auto;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.skills-card-content-wrapper_large {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0 16px 0;
    align-self: center;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    word-wrap: break-word;
    box-sizing: inherit;
}

.skills-card-content_large {
    text-align: center;
    letter-spacing: -0.25px;
    max-width: 680px;
    margin: 0;
    box-sizing: inherit;
    display: block;
    word-wrap: break-word;
}

/****************** skills small ******************/

.skills_small {
    display: flex;
    margin: auto;
    max-width: 85%;
    justify-content: space-between;
}

.skills-card_small {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    flex-basis: calc(100% / 5 - 30px);
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #FFF3E2;
    gap: 0px;
    max-width: 100%;
    margin: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
}

.skills-card_small:hover {
    background-color: #ffffffb7;
}

/* Default styles for .skills-card-img-wrapper_small */
.skills-card-img-wrapper_small {
    display: flex;
    width: auto;
    max-height: 50px;
    margin: 10px auto;
    position: relative;
    padding: 0;
    box-sizing: inherit;
}

/* Default styles for .skills-card-img_small */
.skills-card-img_small {
    height: 50px;
    width: 100%;
    object-fit: contain;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: transform 0.5s ease; /* Add a smooth transition for the transform property */
}

/*
.skills-card-img_small-hover {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    visibility: hidden;
    width: 100%;
    height: 50px;
    object-fit: contain;
}

#specific-skills-card:hover .skills-card-img_small {
    visibility: hidden;
}

#specific-skills-card:hover .skills-card-img_small-hover {
    visibility: visible;
} 
*/

.skills-card-content-wrapper_small {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0 12px 0;
    align-self: center;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    word-wrap: break-word;
    box-sizing: inherit;
}

.skills-card-content_small {
    text-align: center;
    letter-spacing: -0.25px;
    max-width: 680px;
    margin: 0;
    box-sizing: inherit;
    display: block;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}

/****************** Certificates ******************/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    width: 85%;
    margin: 0 auto;
     /* margin: 0 20px; add left and right margins of 20px */
  }
  
  .grid-item {
    position: relative; /* add position relative to position the description element */
    transition: opacity 0.3s ease-in-out;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .description {
    position: absolute; /* position the description element */
    top: 0px; /* align the element to the top of the grid item */
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* add a transition effect to the opacity */
  }
  
  .grid-item:hover {
    opacity: 0.9;
  }
  
  .grid-item:hover .description {
    opacity: 1; /* show the description element on hover */
  }
  
/****************** Contact ******************/

.communicate {
    width: 100px;
}

.contact {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 5px 0 5px 0;
}

.contact-img {
    margin-right: 10px; /* Optional: Add some spacing between the image and paragraph */
    max-width: 30px; /* Set the maximum width for the image */
}




 
